*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
iframe{
    background: #f7f6f4;
}
.card{
    background: #ffffff00;   
}
img{
    border-radius: 15px;;
}
.wrapper{
    padding-top:50px;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap:50px;
    text-align: center;
    background: center no-repeat url(cool-background.png);
    background-size: cover;
    background-attachment: fixed;
}
.c8{
    grid-row:span 2;
}
.c4{
    grid-row:span 2;
}
#menu1{
    position:relative;
    
}
#top-hide{
    position:absolute;
    width:456px;
    height:30px;
    background: #f7f6f4;
    display: inline-block;
}
#bottom-hide{
    position:absolute;
    width:456px;
    height:54px;
    background:#f7f6f4;
    bottom:0;
    left:0;
    display: inline-block;
}